# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Get your Fireworks AI API Key here for reasoning models: https://fireworks.ai/account/api-keys
FIREWORKS_API_KEY=fw_3ZUuqg3jgDzHZ8cNqg1QF5sz

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=2ce36f2bae8b89f74491f1b6043c019f

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_LrSruhhAviee0AHd_BJegXE7YoYBB4ytADrggZqFKKYXF1m

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://neondb_owner:npg_LCn5P7GykJaf@ep-blue-recipe-a57tdq7w-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
